{% extends 'base.html' %}

{% block body %}
  {% if request.user.is_authenticated %}
    <div class="py-5 text-center">
      <h1>회원 목록</h1>
    </div>
    <span class="float-end">{{ request.user }}님, 안녕하세요!</span>
    <table class="table table-striped border-dark border-opacity-25">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.pk }}</td>
            <td>
              <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
            </td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-end">
      <a href="{% url 'accounts:logout' %}" class="btn btn-danger">로그아웃</a>
      <a href="{% url 'accounts:detail' user.pk %}" class="btn btn-primary">내 정보</a>
    </div>
  {% endif %}
{% endblock body %}